@model VMAPP.Web.Models.VehicleServiceCars.ServiceIndexViewModel

<div class="table-wrapper">
    <div class="table-box">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Vehicle Service - Search</h2>

            <div class="d-flex">
                <form asp-controller="VehicleServiceCars" asp-action="FilterService" method="post" class="d-flex">
                    @Html.AntiForgeryToken()
                    <label asp-for="Name" class="form-label me-2 mb-0"></label>
                    <input asp-for="Name" class="form-control me-2" placeholder="Enter name" />
                    <input asp-for="Id" type="hidden" />
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Filter</button>
                </form>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.Name))
        {

            <div id="sectionServicesTable" class="table-responsive">
                <table id="servicesTable" class="datatable table table-hover table-striped table-bordered dt-responsive nowrap w-100 align-middle">
                    <thead class="thead-light table-dark">
                        <tr>
                            <th scope="col" class="text-center">Service</th>
                            <th scope="col" class="text-center">VIN</th>
                            <th scope="col" class="text-center">Make</th>
                            <th scope="col" class="text-center">Model</th>
                            <th scope="col" class="text-center">Edit Vehicle</th>
                            <th scope="col" class="text-center">Delete Vehicle</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var car in Model.Cars)
                        {
                            <tr data-service-id="@Model.Id" data-car-id="@car.Id">
                                <td class="text-center text-break">@car.VIN</td>
                                <td class="text-left">@car.Make</td>
                                <td class="text-left">@car.Model</td>
                                <td class="text-center">Edit</td>
                                <td class="text-center">Delete</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script src="~/js/vehicleServiceCars.js" asp-append-version="true"></script>
}